<h1>Quest#index</h1>
<p>Find me in app/views/quest/index.html.erb</p>

<div class="">
  <div class="">
    <% @quests.each do |quest| %>
    <%= link_to(quest.content,"/quests/#{quest.id}") %>
    <% end %>
  </div>
</div>
