User#edit

<div class="">
  <div class="">
    <% @user.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
    <%= form_tag("/users/#{@user.id}/update") do %>
    <div class="">ユーザー情報の編集</div>
    <p>ユーザー名</p>
    <input type="" name="name" value="<%= @user.name %>">
    <p>メールアドレス</p>
    <input type="" name="email" value="<%= @user.email %>">
    <input type="submit" value="更新">
    <% end %>
  </div>
</div>
