Users#Login_form

<div class="">
  <div class="">
    <div class="">
      <% @user.errors.full_messages.each do |message| %>
      <%= message %>
      <% end %>
      <%= form_tag("/login") do %>
      <p>メールアドレス</p>
      <input type="" name="email" value="<%= @user.email %>">
      <p>パスワード</p>
      <input type="password" name="password" value="">
      <input type="submit" value="ログイン">
      <% end %>
    </div>
  </div>
</div>
