Users#new

<div class="">
  <div class="">
    <div class="">
      <%= form_tag("/users/create") do %>
      <p>ユーザー名</p>
      <input type="" name="name">
      <p>メールアドレス</p>
      <input type="" name="email">
      <input type="submit" value="新規登録">
      <% end %>
    </div>
  </div>
</div>
