Users#new

<div class="">
  <div class="">
    <div class="">
      <p>ユーザー名</p>
      <input type="">
      <p>メールアドレス</p>
      <input type="">
      <input type="submit" value="新規登録">
    </div>
  </div>
</div>
